body {
    background-image: url("../images/bg2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

.snow {
    animation: snow-fall 10s linear forwards;
    top: -20px;
    position: absolute;
    color: white;
    font-size: 20px;
}

@keyframes snow-fall {
    to {
        transform: translateY(105vh);
    }
}

.audio {
    position: absolute;
    right: 0;
    bottom: 0;
}

.audio p {
    font-size: 20px;
    color: antiquewhite;
    font-weight: 700;
    text-align: center;
}